* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

header {
    margin: 44px 0 0 76px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    word-spacing: 23px;
    cursor: pointer;
}

.login {
    width: 130px;
    height: 41px;
    background: #665AE1;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

.login:hover {
    opacity: .8;
}

.login:active {
    opacity: .4;
}

section {
    display: inline-block;
    width: 50vw;
}

aside {
    display: inline-block;
    width: 50vw;
}

img {
    position: absolute;
    margin: 217px 747px 183px 125px;
}

h1 {
    position: absolute;
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    margin: 217px 148px 561px 779px;
}

h2 {

    position: absolute;
    width: 448px;
    height: 71px;
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin: 338px 213px 491px 779px;
}

p {
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin: 441px 146px 0px 779px;

}

.explore {
    position: absolute;
    height: 64px;
    width: 239px;
    background: #ADFF00;
    border-radius: 20.5px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin: 80px 422px 243px 779px
}

.explore:hover {
    opacity: .8;
}

.explore:active {
    opacity: .4;
}

@media (max-width:900px) {

    * {
        margin: auto;
        width: 100%;
        height: 50%;
    }
    section{
        margin:0;
    }
    aside{
        margin:0;
    }

    header {
        display: none;
        margin: 0;
    }

    img {
        display: block;
        position: absolute;
        width: 354px;
        height: 317px;
        margin: 149px 22px 335px 14px;
    }

    h1 {
        display: block;
        position: absolute;
        width: 263px;
        height: 52px;
        margin: 490px 63px 258px 64px;
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        color: #515151;

    }

    h2 {
        display: block;
        position: absolute;
        width: 232px;
        height: 37px;
        margin: 549px 79px 214px 79px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #515151;

    }

    p {

        display: none;
        margin: 0;
    }

    .explore {
        margin: 603px 75px 133px 76px ;
    }


}